h1 {
    font-family: 'Amatic SC', cursive;
    color: blanchedalmond;
    font-size: 200%;
    font-weight: 400;
    font-weight: bold;
}

h1:hover{
    color: black;
}

.coralieD:hover{
    background-color: burlywood;
}

.CV{
    font-family: 'Amatic SC', cursive;
}

.menu{
    filter: white;
}

.dropdown-item{
    font-family: 'Amatic SC', cursive;  
    font-size: large; 
}

p.title{
    font-family: 'Amatic SC', cursive;  
}

.slider{
    position: relative;
    height: 100%;
    margin-top: -40%;
    font-family: 'Amatic SC', cursive;  
    color: rgb(247, 244, 244);
    text-align: center;
    font-size: 60px;
    text-shadow: 3px 3px 5px rgb(5, 5, 5), 0 0 8em rgb(0, 0, 0), 0 0 0.8em rgb(2, 2, 2);
}

.font{
    width:100%;
    height: 100%;
    position: absolute;
}

.logo{
    width: 100%;
    background-color: tan;
    text-align: center;
    vertical-align: middle; 
}

.hob{
    background-color: silver;
}

.logo_hob{
    margin-left: 12%;
}

.retourHaut{
    position: fixed;
    margin-left: 95%;
    margin-top: 44%;
    width: 100%;
}

.legal{
    color: black;
    text-decoration-style: none;
}
*{
    box-sizing: border-box;
}
.container{
    width: 100%;
    background-color: rgb(168, 166, 166);
    
  }
  
.skills{
    text-align: right;
    padding-top: 1px;
    padding-bottom: 1px;
    color: white;
  }
  
.html{
      width: 90%; 
      background-color: rgb(156, 73, 67);
}

.css{
    width: 80%; 
    background-color: rgb(156, 73, 67);
}

.php{
    width: 70%; 
    background-color: rgb(156, 73, 67);
}

.mysql{
    width: 60%; 
    background-color: rgb(156, 73, 67);
}

.js{
    width: 60%; 
    background-color: rgb(156, 73, 67);
}

.procreate{
    width: 90%; 
    background-color: rgb(122, 59, 54);
}

.ae{
    width: 60%; 
    background-color:  rgb(122, 59, 54);
}

.ai{
    width: 80%; 
    background-color:  rgb(122, 59, 54);
}

.ap{
    width: 70%; 
    background-color:  rgb(122, 59, 54);
}

.ain{
    width: 60%; 
    background-color:  rgb(122, 59, 54);
}

.wp{
    width: 60%; 
    background-color: rgb(58, 17, 14);
}

.bulma{
    width: 80%; 
    background-color: rgb(58, 17, 14);
}

.bootstrap{
    width: 70%; 
    background-color: rgb(58, 17, 14);
}

.symfony{
    width: 50%; 
    background-color: rgb(58, 17, 14);
}

.link:hover{
    background-color: burlywood;
}

